@model Portfolio.Models.JobRecordSystem.JobRecordsSingleCaseViewModel

@{

}

@section CSS{
    <style>
        .PreLineSetting {
            white-space: pre-wrap;
        }
    </style>
}

<div class="row my-3">
    <div class="col-3">
        <div class="border border-dark p-3 h-100">
            <div class="h6 text-center mx-1">歷史紀錄區</div>
            <table class="table">
                <tr>
                    <th>案件編號</th>
                    <th>建案者</th>
                    <th>建案時間</th>
                    <th>連結</th>
                </tr>
                @foreach (var item in Model.JobRecordsEnum)
                {
                    <tr>
                        <td>@item.CaseId</td>
                        <td>@item.OnsiteName</td>
                        <td>@Convert.ToDateTime(item.BuildDate).ToString("yyyyMMdd")</td>
                        <td><a asp-controller="JobRecordSystem" asp-action="JobRecordsSingleCaseDetail" asp-route-id="@item.CaseId">請點此</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-6">
        <div class="border border-dark p-3 h-100">
            <div class="h4 text-left d-block">@Html.DisplayFor(model => model.JobRecordsModel.CaseTitle)</div>
            <hr />
            @if (Model.JobRecordsModel.CaseStatus == 1)
            {
                @foreach (var item in Model.CaseStatusList)
                {
                    if (Model.JobRecordsModel.CaseStatus == item.CaseStatusId)
                    {
                        <div class="h6 text-left d-block">案件狀態 : @item.CaseStatusName</div>
                    }
                }
            }
            else if (Model.JobRecordsModel.CaseStatus == 2)
            {
                @foreach (var item in Model.CaseStatusList)
                {
                    if (Model.JobRecordsModel.CaseStatus == item.CaseStatusId)
                    {
                        <div class="h6 text-left text-danger d-block">案件狀態 : @item.CaseStatusName</div>
                    }
                }
            }

            <div class="d-flex justify-content-between">
                <div class="h6 d-block">建案時間 : @Html.DisplayFor(model => model.JobRecordsModel.BuildDate)</div>
                <div class="h6 d-block">建案者 : @Html.DisplayFor(model => model.JobRecordsModel.OnsiteName)</div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="h6 d-block">電腦名稱 : @Html.DisplayFor(model => model.JobRecordsModel.HostName)</div>
                @foreach (var item in Model.OSVersionList)
                {
                    if (Model.JobRecordsModel.OSVersion == item.OSVersionId)
                    {
                        <div class="h6 d-block">系統版本 : @item.OSVersionName</div>
                    }
                }
            </div>
            <div class="d-flex justify-content-between">
                @foreach (var item in Model.ProductTypeList)
                {
                    if (Model.JobRecordsModel.ProductType == item.ProductId)
                    {
                        <div class="h6 d-block">產品類型 : @item.ProductName</div>
                    }
                }
                <div class="h6 d-block">案件分類 : @Html.DisplayFor(model => model.JobRecordsModel.Category)</div>
            </div>
            @if (Model.JobRecordsModel.CaseStatus == 2)
            {
                <div class="d-flex justify-content-between">
                    <div class="h6 d-block">關案人 : @Model.JobRecordsModel.ClosedOnsiteName</div>
                    <div class="h6 d-block">關案時間 : @Model.JobRecordsModel.ClosedDate.ToString()</div>
                </div>
            }

            <hr />
            <div class="h6 PreLineSetting">@Html.DisplayFor(model => model.JobRecordsModel.CaseDescription)</div>
            @if (Model.JobRecordsModel.CaseStatus != 2)
            {
                <hr />
                <a class="btn btn-primary" asp-controller="JobRecordSystem" asp-action="CreateReply" asp-route-id="@Model.JobRecordsModel.CaseId">留言</a>
                <a class="btn btn-success" asp-controller="JobRecordSystem" asp-action="JobRecordsEditCase" asp-route-id="@Model.JobRecordsModel.CaseId">編輯</a>

                <!-- 附件上傳 Button to Open the Modal -->
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#UploadAttachment">附件上傳</button>
                <!-- 附件上傳 The Modal -->
                <div class="modal" id="UploadAttachment">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">附件上傳</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form method="post" enctype="multipart/form-data" asp-controller="JobRecordSystem" asp-action="UploadAttachment" asp-route-id="@Model.JobRecordsModel.CaseId">
                                <!-- Modal body -->
                                <div class="modal-body" id="FileUploadFailedMessage">
                                    <input type="file" name="files" id="MyFile"/>
                                    <div class="h6 text-danger">上傳之檔案大小請勿超過1MB</div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <input class="btn btn-warning" id="ToggleDisabled" type="submit" value="上傳" />
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                                </div>
                            </form>                            
                        </div>
                    </div>
                </div>

                <!-- 關案 Button to Open the Modal -->
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#CloseCase">關案</button>
                <!-- 關案 The Modal -->
                <div class="modal" id="CloseCase">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">關閉案件</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                確定要關閉案件?
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <a type="button" class="btn btn-info" asp-controller="JobRecordSystem" asp-action="CloseCase" asp-route-id="@Model.JobRecordsModel.CaseId">確定</a>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- 刪除 Button to Open the Modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteCase">刪除</button>
                <!-- 刪除 The Modal -->
                <div class="modal" id="DeleteCase">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">刪除案件</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                確定要刪除案件?
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <a type="button" class="btn btn-success" asp-controller="JobRecordSystem" asp-action="JobRecordsDeleteCase" asp-route-id="@Model.JobRecordsModel.CaseId">確定</a>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="col-3">
        <div class="border border-dark p-3 h-100">
            <div class="h6 text-center mx-1">附件紀錄區</div>
            <table class="table">
                <tr>
                    <th>附件名稱</th>
                    <th>上傳者</th>
                    <th>下載連結</th>
                </tr>
                @foreach (var item in Model.JobRecordsReplyModel)
                {
                    if(item.IsThereAttachment == "1")
                    {
                        <tr>
                            <td>@item.AttachmentName</td>
                            <td>@item.ReplyPersonName</td>
                            <td><a class="text-primary" href="~/JobRecordSystemAttachment/@item.ReplyDateTime.ToString("yyyyMMdd")/@item.AttachmentName" target="_blank">請點此</a></td>
                        </tr>
                    }
                    
                }
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        @foreach (var item in Model.JobRecordsReplyModel)
        {
            <div class="border border-dark p-3 mb-3">
                <div class="h6 PreLineSetting text-left d-block m-0">@item.ReplyContent</div>
                <hr />
                <div class="d-flex justify-content-between">
                    <div class="h6 text-left d-block m-0">留言時間 : @item.ReplyDateTime</div>
                    <div class="h6 text-right d-block m-0">留言者 : @item.ReplyPersonName</div>
                </div>
                @if (item.IsThereAttachment == "1")
                {
                    <hr />
                    <div class="h6 text-left d-block m-0">附件 : <a class="text-primary" href="~/JobRecordSystemAttachment/@item.ReplyDateTime.ToString("yyyyMMdd")/@item.AttachmentName">@item.AttachmentName</a></div>
                }
            </div>
        }
    </div>
    <div class="col-3"></div>
</div>

@section Scripts {
    <script>
        //用來判斷夾帶附件的功能中，夾帶檔案的大小，上傳大小限制在1MB以內
        //參考資料 : https://stackoverflow.com/questions/1601455/how-to-check-file-input-size-with-jquery
        $('#MyFile').bind('change', function () {
            var FileSize = this.files[0].size;
            if (FileSize > 1024000) {
                $('#FileUploadFailedMessage').append('<div class="h6 text-primary" id="ErrorMessage">您夾帶的檔案為 : ' + this.files[0].name + ' 此檔案的大小為 : ' + (FileSize / (1024 * 1024)).toFixed(1) + 'MB 此檔案大小超過1MB</div>');
                $('#ToggleDisabled').attr('disabled', 'disabled')
            } else {
                $('#ErrorMessage').remove();
                $('#ToggleDisabled').removeAttr('disabled', '')
            }
        });
    </script>
}