@model Portfolio.Models.JobRecordSystem.JobRecordsViewModel

@{

}

@section CSS {
    <style>
        .border_width_1px {
            border-width: 1px;
        }
    </style>
}

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">

        <div class="row mx-auto justify-content-start align-items-start mt-3">
            <div class="mb-0">
                <a asp-controller="JobRecordSystem" asp-action="JobRecordsCreateCase" class="btn-sm btn-primary">建立新案件</a>

                <!-- 批次建案 Button to Open the Modal -->
                <a class="btn-sm btn-warning" data-toggle="modal" data-target="#ImportCaseReport">批次建案</a>

                <!-- 批次建案 The Modal -->
                <div class="modal" id="ImportCaseReport">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">批次建案</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <form method="post" enctype="multipart/form-data" asp-controller="JobRecordSystem" asp-action="ImportCaseReport">
                                <!-- Modal body -->
                                <div class="modal-body" id="FileUploadFailedMessage">
                                    <input type="file" name="CaseReportFile" id="MyFile" accept=".xlsx,.xls"/>
                                    <div class="h6 text-danger">上傳之檔案大小請勿超過1MB</div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <input class="btn btn-warning" id="ToggleDisabled" type="submit" value="上傳" />
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <a class="btn-sm btn-info">批次留言</a>
                <a class="btn-sm btn-success" asp-controller="JobRecordSystem" asp-action="ExportCaseReport" asp-route-CaseId="@ViewData["CaseId"]"
                   asp-route-UserName="@ViewData["UserName"]" asp-route-HostName="@ViewData["HostName"]" asp-route-CaseStatus="@ViewData["CaseStatus"]"
                   asp-route-Location="@ViewData["Location"]" asp-route-OnsiteName="@ViewData["OnsiteName"]" asp-route-ProductType="@ViewData["ProductType"]"
                   asp-route-OSVersion="@ViewData["OSVersion"]">匯出案件總表</a>
            </div>
        </div>

        <hr />

        @using (Html.BeginForm("JobRecordSystemIndex", "JobRecordSystem", FormMethod.Get, new { @class = "mb-2" }))
        {
            <div class="h4 font-weight-bold">進階搜尋</div>
            <div class="row mx-auto justify-content-start align-items-start">
                <div class="form-group mx-2">
                    @Html.TextBox("CaseId", ViewData["CaseId"] as string, htmlAttributes: new { @class = "form-control-sm border_width_1px", @placeholder = "請輸入案件編號" })
                </div>
                <div class="form-group mx-2">
                    @Html.TextBox("UserName", ViewData["UserName"] as string, htmlAttributes: new { @class = "form-control-sm border_width_1px", @placeholder = "請輸入報案人員名稱" })
                </div>
                <div class="form-group mx-2">
                    @Html.TextBox("HostName", ViewData["HostName"] as string, htmlAttributes: new { @class = "form-control-sm border_width_1px", @placeholder = "請輸入電腦名稱" })
                </div>
            </div>
            <div class="row mx-auto justify-content-start align-items-start">
                <div class="form-group mx-2">
                    @Html.DropDownList("CaseStatus", Model.JobRecordsCaseStatusItemList, "請選擇案件狀態", new { @class = "form-control-sm" })
                </div>
                <div class="form-group mx-2">
                    @Html.DropDownList("Location", Model.JobRecordsLocationItemList, "請選擇報案區域", new { @class = "form-control-sm" })
                </div>
                <div class="form-group mx-2">
                    @Html.DropDownList("OnsiteName", Model.JobRecordsOnsiteItemList, "請選擇處理人員", new { @class = "form-control-sm" })
                </div>

                <div class="form-group mx-2">
                    @Html.DropDownList("ProductType", Model.JobRecordsProductTypeList, "請選擇產品類型", new { @class = "form-control-sm" })
                </div>
                <div class="form-group mx-2">
                    @Html.DropDownList("OSVersion", Model.JobRecordsOSVersionList, "請選擇系統類型", new { @class = "form-control-sm" })
                </div>
                <div class="form-group mx-2">
                    @Html.DropDownList("Category", Model.JobRecordsCategoryList, "請選擇案件分類", new { @class = "form-control-sm" })
                </div>
            </div>
            <div class="row mx-auto justify-content-start align-items-start">
                <button type="submit" class="btn-sm btn-success mx-1 border-0">搜尋</button>
                @Html.ActionLink("清除搜尋結果", "JobRecordSystemIndex", "JobRecordSystem", new { }, new { @class = "btn-sm btn-danger mx-1" })
            </div>
        }

        <hr />

        <div class="h4 font-weight-bold mt-3">案件列表</div>

        <div class="container-fluid">
            <table class="table table-bordered border-dark mb-2">
                <thead>
                    <tr class="text-center bg-dark text-white h5">
                        <th class="border-bottom-0 width10">
                            @*@Html.DisplayNameFor(model => model.JobRecordsPagedList.First().CaseId)*@
                            案件編號
                        </th>
                        <th class="border-bottom-0 width10">
                            案件狀態
                        </th>
                        <th class="border-bottom-0 width10">
                            建案日期
                        </th>
                        <th class="border-bottom-0 width20">
                            案件標題
                        </th>
                        <th class="border-bottom-0 width10">
                            廠區
                        </th>
                        <th class="border-bottom-0 width10">
                            報案人員
                        </th>
                        <th class="border-bottom-0 width10">
                            駐廠人員
                        </th>
                        <th class="border-bottom-0 width10">
                            電腦名稱
                        </th>
                        <th class="border-bottom-0 width10">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.JobRecordsPagedList)
                    {
                        <tr class="text-center">
                            <td class="width10">
                                @Html.DisplayFor(modelItem => item.CaseId)
                            </td>
                            @foreach (var s in Model.JobRecordsCaseStatusItemList)
                            {
                                if (item.CaseStatus == Convert.ToInt32(s.Value))
                                {
                                    <td class="width10">@s.Text</td>
                                }
                            }
                            <td class="width10">
                                @Convert.ToDateTime(item.BuildDate).ToString("yyyy/MM/dd")
                            </td>
                            <td class="width20">
                                @Html.DisplayFor(modelItem => item.CaseTitle)
                            </td>
                            @foreach (var L in Model.JobRecordsLocationItemList)
                            {
                                if (item.Location == Convert.ToInt32(L.Value))
                                {
                                    <td class="width10">@L.Text</td>
                                }
                            }
                            <td class="width10">
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td class="width10">
                                @Html.DisplayFor(modelItem => item.OnsiteName)
                            </td>
                            <td class="width10">
                                @Html.DisplayFor(modelItem => item.HostName)
                            </td>
                            <td class="width10">
                                @Html.ActionLink("詳細內容", "JobRecordsSingleCaseDetail", new { id = item.CaseId }, new { @class = "btn-sm btn-success" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @Html.PagedListPager((IPagedList)Model.JobRecordsPagedList, Page => Url.Action("JobRecordSystemIndex", new { Page, CaseId = ViewData["CaseId"], UserName = ViewData["UserName"], HostName = ViewData["HostName"], CaseStatus = ViewData["CaseStatus"], Location = ViewData["Location"], OnsiteName = ViewData["OnsiteName"], ProductType = ViewData["ProductType"], OSVersion = ViewData["OSVersion"], Category = ViewData["Category"], PageSize = ViewData["PageSize"] }),
       new PagedListRenderOptions
       {
         LinkToFirstPageFormat = "首頁",
         LinkToNextPageFormat = "下一頁",
         LinkToPreviousPageFormat = "上一頁",
         LinkToLastPageFormat = "末頁",
         MaximumPageNumbersToDisplay = 7,
         DisplayItemSliceAndTotal = false,
         UlElementClasses = new string[] { "pagination" },
         LiElementClasses = new string[] { "page-item" },
         PageClasses = new string[] { "page-link" }
       })

    </div>
    <div class="col-1"></div>
</div>

@section Scripts {
    <script>
        //用來判斷夾帶附件的功能中，夾帶檔案的大小，上傳大小限制在1MB以內
        //參考資料 : https://stackoverflow.com/questions/1601455/how-to-check-file-input-size-with-jquery
        $('#MyFile').bind('change', function () {
            var FileSize = this.files[0].size;
            if (FileSize > 1024000) {
                $('#FileUploadFailedMessage').append('<div class="h6 text-primary" id="ErrorMessage">您夾帶的檔案為 : ' + this.files[0].name + ' 此檔案的大小為 : ' + (FileSize / (1024 * 1024)).toFixed(1) + 'MB 此檔案大小超過1MB</div>');
                $('#ToggleDisabled').attr('disabled', 'disabled')
            } else {
                $('#ErrorMessage').remove();
                $('#ToggleDisabled').removeAttr('disabled', '')
            }
        });
    </script>
}