@model Portfolio.Models.FruitModel


<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" asp-controller="Checkbox" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <table>
                    @foreach (SelectListItem fruit in Model.Fruits)
                    {
                        //用name命名的參數(不區分大小寫)，可以傳回後端
                        <tr>
                            <td><input id="@fruit.Value" type="checkbox" name="Fruit" value="@fruit.Value" checked="@fruit.Selected" /></td>
                            <td><label for="@fruit.Value">@fruit.Text</label></td>
                        </tr>
                    }
                </table>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
